.full-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fullPost-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.fullPost-left > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    overflow: hidden;
    margin-top: 40px;
    box-shadow: 0px 0px 10px rgb(150, 150, 150);
    padding: 50px;
    border-radius: 30px;
}

.full-post-title{
    
}

.fullPost-image{
    width: 50rem;
    height: 25rem;
    overflow: hidden;
}

.fullPost-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.fullPost-right{
    width: 30%;
}

.fullPost-description{
    font-size: 20px;
    line-height: 2.8;
}